:root {
    /* Primary Color */

    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-hover-400: hsl(158, 100%, 13%);
    --clr-secondary-200: hsl(30, 38%, 92%);

    /* Neutral  Color  */

    --clr-neutral-800: hsl(212, 21%, 14%);
    --clr-neutral-500: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    /* Font weights  */

    --fw-regular: 500;
    --fw-bold: 700;

    /* font family */
    --ff-secondary: 'Fraunces', serif;
    --ff-primary: 'Montserrat', sans-serif;
}


html {
    font-size: 14px;
}

* {
    margin: 0;
    border: none;
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    background-color: var(--clr-secondary-200);
    color: var(--clr-neutral-500);
    font-size: 1rem;
    
    /* line-height: 1.5; */
}

main{
    display: grid;
    align-items: center;
    height: 100vh;
}

.product {
    margin: 1.5rem;
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
}

img[alt="Perfume Image"] {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.product-container {
    padding: 1.5rem;
}

.perfume-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 0.8rem;
    opacity: 85%;
}

.price {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.product-container h1 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 2.3rem;
    color: var(--clr-neutral-800);
    line-height: 1;
    margin-block-start: 1rem;
}

.product-container>p:nth-child(3) {
    line-height: 1.5;
    margin-block: 1rem;
    word-spacing: 0.1rem;
    opacity: 85%;
}

.product-price {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-400);
    font-size: 2.5rem;
    margin-block-end: 1rem;
}

.product-actual-price {
    opacity: 85%;
}

.cart-button {
    width: 100%;
    padding-block: 1rem;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.5rem;
}

.cart-button:hover {
    cursor: pointer;
    background-color: var(--clr-primary-hover-400);
}

@media screen and (min-width: 561px) {

    body {
        margin-inline: 1rem;
    }
    
    main{
        height: 100vh;
    }
    
    .product {
        display: grid;
        grid-template-columns: 300px 300px;
        /* align-items: center; */
        justify-content: center;
        max-width: 600px;
        max-height: 600px;
        margin: 0 auto;
    }

    .product-container {
        margin-block: auto;
        line-height: 2.5;
    }

    img[alt="Perfume Image"] {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;
    }

}
